
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
    
}
h2{
    font-size: 50px;
    display: block;
}
.h-color{
    color: orangered;
}
section{
    display: flex;
    margin: 120px;
    margin: 0;   
}
.top-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: -8px;
    padding: 0;
}

.half-width{
    width: 40%;
    padding-left: 6%;
    float: left;
}
.half-width img{
    width: 85%;
    margin-top: 12%;
    margin-left: 7%;
}

.half-width p {
    margin-bottom: 7%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right, yellowgreen , green);
    padding: 10px 40px !important;
    border-radius: 6px !important;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    margin-top: 5%;
}
.mid-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
    margin: -12px;
}
.button-section{
    display: flex;
}

.flexible-container {
    width: 100% !important;
}